/* Сброс всех полей и отступов */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Очистка плавающих элементов */
.clearfix {
    overflow: auto;
}

/* Настройки для блоков образования, работы и проектов */
.education-entry, .work-entry, .project-entry {
    padding-left: 10%;
    padding-right: 10%;
}

/* Заголовок первого уровня */
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    color: #cbe9ea;
    line-height: 48px;
    display: inline;
}

/* Заголовок второго уровня */
h2 {
    font-family: 'Anton', sans-serif;
    font-size: 24px;
    color: #752ee2;
    line-height: 29px;
    padding: 10px;
}

/* Заголовок третьего уровня */
h3 {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: #000000;
    line-height: 22px;
}

/* Заголовок четвертого уровня */
h4 {
    font-family: 'IM Fell English', serif;
    font-weight: bold;
    font-size: 14px;
    color: #4A4A4A;
    line-height: 17px;
}

/* Общие настройки для заголовков второго, третьего, четвертого и пятого уровней */
h2, h3, h4, h5 {
    padding: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

/* Дата */
.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    float: left;
}

/* Местоположение */
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    float: right;
}

/* Абзацы */
p {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
}

/* Ссылки */
a {
    color: #1199C3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

/* Приветственное сообщение */
.welcome-message {
    font-style: italic;
    font-size: 22px;
    color: #FFD816;
    line-height: 28px;
}

/* Заголовок навыков */
#skillsH3 {
    color: #ABDCF7;
    display: none;
    width: 200px;
    height: 200px;
}

/* Темный красный фон */
.darkred {
    background-color: #ABDCF7;
}

/* Оранжевый текст */
.orange-text {
    color: #bdbdbd;
}

/* Белый текст */
.white-text {
    font-weight: bold;
    color: #FFFFFF;
}

/* Серый фон */
.gray {
    background-color: #F3F3F3;
    padding-bottom: 10px;
    clear: both;
}

/* Темно-серый фон */
.dark-gray {
    background-color: #4A4A4A;
}

/* Шапка сайта */
#header {
    background-color: transparent;
    background-image: url('images/5f442031.jpg'); /* Фоновое изображение */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* Шапка сайта */
#header {
    background-color: #1D50E2;
}

/* Гибкий контейнер */
.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

/* Контент по центру */
.center-content {
    padding-top: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2.5%;
}

/* Список без маркеров */
ul {
    list-style-type: none;
}

/* Фотография профиля */
.biopic {
    float: left;
    padding: 10px;
    width: 300px;
    display: none;
}

/* Изображения */
img {
    padding: 10px;
}

/* Скрытый элемент */
.hidden {
    display: none;
}

/* Блок текста */
#textBlock {
    font-size: 22px;
    position: absolute;
    top: 150px;
    right: 5px;
    width: 860px;
    height: 200px;
    background-color: #A6BDD7;
    padding: 10px;
    font-style: italic;
    font-size: 22px;
    text-shadow: 2px 2px 5px #9DA1AA;

}

/* Кнопка показа текста */
#showTextBtn {
    font-size: 10px;          /* Размер текста */
    position: absolute;       /* Абсолютное позиционирование */
    top: 85px;                /* Отступ сверху */
    right: 800px;             /* Отступ справа */
    width: 70px;              /* Ширина кнопки */
    height: 50px;             /* Высота кнопки */
    background-color: #4682B4; /* Голубой фон */
    padding: 5px;             /* Внутренний отступ */
    font-style: italic;       /* Курсив */
    cursor: pointer;          /* Курсор в виде руки при наведении */
    text-align: center;       /* Центрирование текста по горизонтали */
    line-height: center;      /* Центрирование текста по вертикали */
}

/* Изменение цвета кнопки при наведении */
#showTextBtn:hover {
    background-color: #1E90FF; /* Темнее голубой при наведении */
}

/* Элементы диаграммы */
.chart div {
    font: 10px sans-serif;
    background-color: #4A4A4A;
    text-align: right;
    padding: 3px;
    margin: 1px;
    height: 12px;
    color: white;
    display: inline-block;
}

/* Промежуточный текст */
span {
    padding: 5px;
}

/* Блок связи */
#letsConnect {
    text-align: center;
}

/* Скрытый текст */
.hidden-text {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Показать скрытый текст при наведении */
.hidden-text:hover {
    opacity: 1;
}

/* Медиа-запросы для экранов шириной до 1024px */
@media only screen and (max-width: 1024px) {
    #letsConnect {
        margin-top: 5%; /* Добавить отступ сверху */
    };
    .white-text {
        display: block; /* Сделать белый текст видимым */
    }
}

/* Медиа-запросы для экранов шириной до 900px */
@media only screen and (max-width:900px) {
    .biopic {
        width: 175px; /* Уменьшить ширину фотографии профиля */
    }
    ;
}

/* Медиа-запросы для экранов шириной до 750px */
@media only screen and (max-width: 750px) {
    #letsConnect {
        margin-top: 10%; /* Увеличить отступ сверху */
    }
    .biopic {
        width: 150px; /* Еще уменьшить ширину фотографии профиля */
    }
    .welcome-message {
        display: none; /* Скрыть приветственное сообщение */
    }
    ;
}

/* Карта */
#map {
    display: block;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Контейнер карты */
#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

/* Медиа-запросы для экранов шириной от 750px */
@media only screen and (min-width: 750px) {
    #skillsH3,
    .biopic { /* Отобразить заголовок навыков и фотографию профиля */
        display: block;
    }
    ;
}
